{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
	{{super()}}
	{{fixes.ie8()}}
	<!-- CSS -->
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"</link>
	<link rel="stylesheet" href="{{url_for('static',filename='config.css')}}">
	<!-- JavaScript -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block title %}
	House Plant Monitor
{% endblock %}

{% block navbar %}
	<div class="navbar navbar-fixed-top">{% include "nav.html" %}</div>
{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
    <h1>{{title}}</h1>
		{% for troop in troops %}
			<h2>{{troop.name}}</h2>
			{% for scout in troop.scouts %}
				<div id="scoutpins">
				<h3>{{scout.name}}</h3>
				<ul>
					{% for key,value in troopPins[troop.name][scout.name].items() %}
						<li>
							<span id="pin" name="pin">{{ value['pin'] }} </span>
						{% if value['power'] == 'ACTIVE' %}
							<span id="power" class="label label-success">{{ value['power'] }} </span>
							{% if value['mode'] == 'INPUT' %}
							<span id="mode" class="label label-info">{{ value['mode'] }} </span>
							{% else %}
							<span id="mode" class="label label-warning">{{ value['mode'] }} </span>
							{% endif %}
							<span id="device">{{ value['device'] }}</span>
						{% else %}
							<span id="power" class="label label-danger">{{ value['power'] }} </span>
						{% endif %}
							<a href='/configform/{{ troop.id }}/{{ scout.id }}/{{ value["pin"] }}' class="btn btn-default">Configure</a>
						</li>
					{% endfor %}
				</ul>
				</div>
			{% endfor %}
		{% endfor %}
	</div>
</div>
{% endblock %}




