{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
	{{super()}}
	{{fixes.ie8()}}
	<meta charset="utf-8">
	<!-- CSS -->
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
	<link rel='stylesheet' href='//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css"</link>
	<link rel="stylesheet" href="{{url_for('static',filename='config.css')}}">
	<!-- JavaScript -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
	<script src="{{url_for('static',filename='configform.js')}}" type="text/javascript"></script>
{% endblock %}

{% block title %}
	House Plant Monitor - {{ title }}
{% endblock %}

{% block navbar %}
	<div class="navbar navbar-fixed-top">{% include "nav.html" %}</div>
{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h2>{{title}}:</h2>
		<h3>{{pinloc['troop']}} - {{pinloc['scout']}} - {{pinloc['pin']}}</h3>
		<form role='form' class='form-horizontal' id='config-form' method='POST'>
			<input name=_csrf_token type=hidden value="{{ csrf_token() }}">
			<div class='form-group'>
				<label id='nameLabel' for='inputName' class='control-label col-xs-3'>Device Name:</label>
				<div class='col-xs-5'>
					<input type='text' class='form-control' id='deviceName' name='deviceName' placeholder='Enter a unique name for this device'>
				</div>
				<div class="control-label col-xs-2">
				{% if currentConfig != {} %}
					<button type="button" id="status" class="btn btn-default" data-container="body" data-html="true" data-toggle="popover" data-placement="bottom">View Current Settings</button>
					<div id="popover-content" style="display: none">
						<label id="dynName" class="control-label col-xs-4">Name </label>
						<label class="col-xs-1">|</label>
						<label class="control-label col-xs-4">{{ currentConfig['name'] }}</label>
						<br><br>
						<label id="dynType" class="control-label col-xs-4">Device </label>
						<label class="col-xs-1">|</label>
						{% if currentConfig['type'] == 'light' %}
						<label class="control-label col-xs-4">Photometer</label>
						{% elif currentConfig['type'] == 'soil' %}
						<label class="control-label col-xs-4">Soil Monitor</label>
						{% elif currentConfig['type'] == 'temp' %}
						<label class="control-label col-xs-4">Thermometer</label>
						{% elif currentConfig['type'] == 'shade' %}
						<label class="control-label col-xs-4">Motor: Shades</label>
						{% elif currentConfig['type'] == 'water' %}
						<label class="control-label col-xs-4">Motor: Water</label>
						{% else %}
						<label class="control-label col-xs-4">UNKNOWN</label>
						{% endif %}
						{% if currentConfig['this'] == 'device' %}
							{% if pindes == 'A' %}
							<br><br>
							<label id="dynattrs" class="control-label col-xs-4">Upper Threshold </label>
							<label class="col-xs-1">|</label>
							<label class="control-label col-xs-4">{{ currentConfig['atriggerupper'] }}</label>
							<br><br>
							<label id="dynattrs" class="control-label col-xs-4">Lower Threshold </label>
							<label class="col-xs-1">|</label>
							<label class="control-label col-xs-4">{{ currentConfig['atriggerlower'] }}</label>
							{% else %}
							<br><br>
							<label id="dynattrs" class="control-label col-xs-4">Digital Trigger </label>
							<label class="col-xs-1">|</label>
							<label class="control-label col-xs-4">{{ currentConfig['dtrigger'] }}</label>
							{% endif %}
							<br><br>
							<label id="dynattrs" class="control-label col-xs-4">Polling Interval </label>
							<label class="col-xs-1">|</label>
							<label class="control-label col-xs-4">{{ currentConfig['pollinginterval'] }} minutes</label>
						{% else %}
						<br><br>
						<label id="dynattrs" class="control-label col-xs-4">Trigger Time </label>
						<label class="col-xs-1">|</label>
						<label class="control-label col-xs-4">{{ currentConfig['trig_time'] }} ms</label>
						<br><br>
						<label id="dynattrs" class="control-label col-xs-4">Untrigger Time </label>
						<label class="col-xs-1">|</label>
						<label class="control-label col-xs-4">{{ currentConfig['untrig_time'] }} ms</label>
						<br><br>
							{% if currentConfig['type'] == 'water' %}
							<label id="dynattrs" class="control-label col-xs-4">Delay </label>
							<label class="col-xs-1">|</label>
							<label class="control-label col-xs-4">{{ currentConfig['delay'] }} seconds</label>
							{% endif %}
						{% endif %}
					</div>
				{% endif %}
				</div>
			</div>
			<div class='form-group'>
				<label id='typeLabel' for='inputType' class='control-label col-xs-3'>Device Type:</label>
				<div class='col-xs-8 dropdown'>
					<select class='deviceClass' id='deviceClass' name='deviceClass'>
						<option value='defaults' selected='selected'>---</option>
						<option value='inputs'>Input Device</option>
						<option value='outputs'>Output Device</option>
					</select>
					<select class='subset' id='subset' name='subset'>
						<option value='defaults'>---</option>
					</select>
				</div>
			</div>
			<span id='inputMode' class='inputMode'>
				<div class='form-group' id='analog'>
					<label for="amount" class='control-label col-xs-3'>Threshold:</label>
					<div id="slider-range" class='col-xs-5'></div>
					<script>
						$( "#slider-range" ).slider({
							range: true,
							min: 0,
							max: 1023,
							values: [ 250, 750 ],
							slide: function( event, ui ) {
								$( "#amount" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
							}
						});
					</script>
					<input type="text" id="amount" class='col-xs-2' name='threshold' readonly>
				</div>
				<div class='form-group' id='digital'>
					<label class='control-label col-xs-3'>Digital Trigger:</label>
					<div class='col-xs-8' id='dtriggerRadio'>
						<input type='radio' class='dRadio' id='highradio' name='dtrigger' value='HIGH'>HIGH</input>
						<input type='radio' class='dRadio' id='lowradio' name='dtrigger' value='LOW'>LOW</input>
					</div>
				</div>
				<div class='form-group'>
					<label id='outputMethod' for='outputMethod' class='control-label col-xs-3'>Trigger:</label>
					<div class='col-xs-8 dropdown'>
						<select class='triggerDevice' id='triggerDevice' name='triggerDevice'>
							<option value='email' selected='selected'>Email</option>
							<option value='text'>Text Message</option>
							<option value='tweet'>Tweet</option>
							{% for motor in motors %}
							{% for key,value in motor.items() %}
							<option value='{{ value }}'>{{ key }}</option>
							{% endfor %}
							{% endfor %}
						</select>
					</div>
				</div>
				<div class='form-group'>
					<label id='nameLabel' for='inputName' class='control-label col-xs-3'>Polling Interval:</label>
					<div class='col-xs-5'>
						<input type='text' class='form-control' id='pollingInterval' name='pollingInterval' placeholder='Enter how often the system should read the device (minutes)'>
					</div>
				</div>
			</span>
			<span id='outputMode' class='outputMode'>
				{% if pindes == 'A' %}
				<div class='form-group'>
					<label id='trigTime' for='trigTime' class='control-label col-xs-3'>Trigger Time:</label>
					<div class='col-xs-4'>
						<input type='text' class='form-control' id='trigMilli' name='trigTime' placeholder='Time to run motor forward (milliseconds)'>
					</div>
				</div>
				<div class='form-group'>
					<label id='untrigTime' for='untrigTime' class='control-label col-xs-3'>Untrigger Time:</label>
					<div class='col-xs-4'>
						<input type='text' class='form-control' id='untrigMilli' name='untrigTime'placeholder='Time to run motor backward (milliseconds)'>
					</div>
				</div>
				{% endif %}
				<span id='delaytrigger' class='delaytrigger'>
					<div class='form-group'>
						<label id='untrigDelay' for='untrigDelay' class='control-label col-xs-3'>Delay:</label>
						<div class='col-xs-4'>
							<input type='text' class='form-control' id='delaySec' name='delay' placeholder='Delay between trigger and untrigger (seconds)'>
						</div>
					</div>
				</span>
			</span>
			<span id='submitbutton' class='submitbutton'>
				<div class='form-group'>
					<div class='col-xs-offset-3 col-xs-8'>
						<button type='submit' name='formbtn' class='btn btn-default' value="save">Submit</button>
					</div>
				</div>
			</span>
		</form>
		<hr>
		<div class="control-label col-xs-3"></div>
		<div class="control-label col-xs-5"></div>
		<div class="control-label col-xs-3" id="deletediv">
		<form role='form' class='form-horizontal' id='delete-form' method='POST'>
		<input name=_csrf_token type=hidden value="{{ csrf_token() }}">
		{% if currentConfig != {} %}
			<button id="deletebutton" class="label btn-danger" name='formbtn' value="delete" type="submit">DELETE DEVICE</button>
			<div id="warnmsg">Warning: This action cannot be undone!</div>
		{% endif %}
		</div>
		</form>
	</div>
</div>
{% endblock %}



