{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}House Plant Monitor{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">{% include "nav.html" %}</div>
{% endblock %}

{% block content %}
<div class = "jumbotron">
    <h1>{{title}}</h1>
    <h2>
    	<p><a href='/config'>Configure Sensors</a></p>
    	<p><a href='/email'>Communication Settings</a></p>
    	<p><a href='/readings'>Display Current Readings</a></p>
        <p><a href='/show_scouts'>Display Scouts</a></p>
    </h2>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
